body {
    padding-top: 5rem;
}

img{
    padding: 5px;
    align-item: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    text-shadow: 2px 2px grey;
}



.lists{
    padding: 20px;
    float: left;
    width: 33.33%
}

button{
    color: white;
    background-color: limegreen;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100px;
    align-item: center;
}



#photo{
    padding: 20px;
    text-align: center;
    background-color: teal;
    color: white;
    background-image: linear-gradient(to right, rgba(255,0,0,0), lightseagreen);
    border-radius: 5px 5px 0px 0px;
}

#content{
    padding: 30px;
    text-align: center;
    color: grey;
    border-color: grey;
    border-width: 2px;
    border-radius: 0px 0px 5px 5px
}

p3{
    color: black;
    font-weight: bold;
}

#listing{
    text-align; center;
    padding: 20px;


}